In [1]:
import pandas as pd
import numpy as np

In [13]:
def soma_colunas(linha):
    linha['A'] = linha['A']+ linha['B'] + linha['C']

In [2]:
data = [(3,5,7), (2,4,6),(5,8,9)]
df = pd.DataFrame(data, columns = ['A','B','C'])
print(df)

   A  B  C
0  3  5  7
1  2  4  6
2  5  8  9

In [14]:
df.apply(soma_colunas,axis=1)
df

    A  B  C
0  15  5  7
1  12  4  6
2  22  8  9